body{
    background:  #212f3d ;
}

nav{
   
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    display: flex;
    background-color: #2874a6  ;
   
}

.menu-navegacion{
    
    width: 70%;
    display: flex;
    height: 50px;
}

.items{
    
    width: 200px;
    height: 50px;
    display: flex;
    justify-content:center;
    gap: 5px;
    align-items:center;
    cursor: pointer;
}

.items a{
    color: white;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.items.active a{
    color: #000;
}

.items.active svg{
    color: #000;
}
.items.active{
    background-color: #fff;
    color: #000; 
    border-top: solid 2px #0c0e7a;
    border-left: solid 2px #0c0e7a;
    border-right: solid 2px #0c0e7a;
}

.perfil_data{
    border: solid 1px rgba(0,0,0,0.1);
    width: 100%;
    margin: auto;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.perfil_data .img{
    width: 100px;
    height: 100px;
}

.perfil_data .img img{
    border-radius: 50%;
}

.perfil_data .data{
 
    width: 100%;
    height: 100%;
}

table{
   
    width: 100%;
}

table thead tr th{
    border: solid 1px rgb(0, 0, 0 , 0.1);
    width: 200px;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

table tbody tr td{
    border: solid 1px rgb(0, 0, 0 , 0.1);
    width: 200px;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

.perfil_formulario{
    width: 100%;
    
   
}

.margin-top{
    margin-top: 20px!important;
}
.formulario_agenda{
    border: solid 1px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
}

.notificacion{
   
}